name: Build & Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      redis:
        # Docker Hub image
        image: nats
        ports:
          - 4222:4222
    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          9.x
          10.x
        cache: true
        cache-dependency-path: |
          **/packages.lock.json

    - name: Restore dependencies
      run: dotnet restore --locked-mode
    - name: Build
      run: dotnet build --no-restore /p:ContinuousIntegrationBuild=true
    - name: Test
      run: dotnet test --no-build --collect:"XPlat Code Coverage" --settings Default.runsettings --logger trx --results-directory TestResults
    - name: Publish Test Results
      uses: dorny/test-reporter@v2
      if: always()
      with:
        name: .NET Tests
        path: TestResults/*.trx
        reporter: dotnet-trx
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
