name: Build & Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      redis:
        # Docker Hub image
        image: nats
        ports:
          - 4222:4222
    steps:
    - uses: actions/checkout@v5

    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore /p:ContinuousIntegrationBuild=true
    - name: Test
      run: dotnet test --no-build --collect:"XPlat Code Coverage" --settings Default.runsettings
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
